/* video background */
#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
/*--------------------------------------------------------------*/
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: Open Sans;
}
/*--------------------------------------------------------------*/
/* headings */
h1, h2 {
    text-shadow: 2px 2px #ff0000;
    text-align: center;
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
}
h1 {
    font-size: 5rem;
    text-align: center;
    margin-top: 10vh;
}
h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 10vh;
  }
h3 {
  text-align: center;
  font-size: 3rem;
  margin-top: 20vh;
}
/*--------------------------------------------------------------*/
/* Next Button Only */
.button1 {
  background-color: #32cd32;
  color: #0000FF;
  border: 3px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}
